@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

html,
body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

/*--------------INÍCIO DO HEADER---------------------*/
header {
    background-color: #DEDEDE;
  }

  header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    width: 980px;
    margin: auto;
    height: 72px; /*era: sem essa linha*/
  }
  
  header img {
    width: 40px;
    margin-left: 32px;/*verificar era 20px*/
    padding: 15px 0;
  }
  
  header nav ul {
    display: flex;
  }
  
  header nav ul li {
    list-style: none;
  }
  
  header nav ul li a {
    text-decoration: none;
    color:#000000;
    font-size: 16px; /*era 14px*/ 
    padding: 24px;
    transition: all 250ms linear 0s;
  }
  
  header nav ul li a:hover {
    /*background: rgba(255,255,255, 0.15)*/
    background: #C4C4C4;
  }

  /*--------------FIM DO HEADER---------------------*/


/* ----------INÍCIO DE BOTÕES E TÍTULOS-------------------*/

p {
    color: #727272;
    font-size: 24px;/*verificar era 36px*/
    line-height: 46px;
    
        /*Conforme wireframe*/
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    
    
          
        /* identical to box height */
}

#descricao {
    color: rgb(0, 0, 0);
    font-size: 18px;/*verificar era 36px*/
    line-height: 27px;/*46px*/
    
        /*Conforme wireframe*/
    font-family: Poppins;
    font-style: normal;
    font-family: Poppins;
    font-weight: normal;
    line-height: 27px;
}

h2 {
    color: #000000;
    font-size: 72px;/*verificar era 36px*/
    line-height: 108px;

    /*Conforme wireframe*/
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;

    top: 212px;
      
    /* identical to box height */
}
  

  h3 {
    color:#000000;
    font-size: 32px;
    line-height: 48px;
  }
  
  .button {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    background-color: #C4C4C4;
    margin: 36px 0px 0px;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 150ms linear 0s;

    border: 1px solid #000000;
    box-sizing: border-box;

    border-radius:5%;
    -moz-border-radius:5%;
    -webkit-border-radius:5%;
  }
  
  .button:hover {
    opacity: 0.9;
  }
  

  #id-curriculo {
    padding: 10px;
    color: #000000;
    background: #C4C4C4;
    border: 2px solid #262626;
    box-sizing: border-box;

    border-radius:5%;
    -moz-border-radius:5%;
    -webkit-border-radius:5%;
}

#id-curriculo:hover {
    background: #b4b4b4;
    color: white;
}

/*------------FIM BOTÕES E TÍTULOS-----------*/  


/*IMAGENS*/


/*=============== 
HERO
==================*/
section.hero {
    margin: 50px 0;
  }
  
  section.hero .container {
    width: 980px;
    margin: auto;
  
    display: flex;
  }
  
  section.hero p {
    color: rgb(154, 142, 191);
    font-size: 18px;
    line-height: 32px;
    margin: 10px 0px 0px;
  }

/*=============== 
FIM HERO
==================*/
/*-----------------INÍCIO SEÇÃO 2 ----------------*/
section .secao2 {
    margin: 50px 0;
}
      
section.secao2 .container {
    display: flex;
    justify-content: space-between;
    width: 980px;
    margin: auto;
      
    display: flex;
}
      
section.secao2 p {
    color: rgb(154, 142, 191);
    font-size: 18px;
    line-height: 32px;
    margin: 10px 0px 0px;
}

section.secao2 #image1{
    
    width: 320px;
    height: 320px;
   

    border: 1px solid #000000;}
    
